.sakura {
    padding-block: 15vw;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), 
    url('../Images/Sakura.jpeg');
    background-size: cover;
    background-position: center;
}
.ingrid-home {
    padding-block: 0;
    width: 200px;
    border: 4px solid #aa2e2d;
}